:root {
    --primary: rgb(60, 125, 182);
    --text: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: var(--primary);
    height: 4rem;

    align-items: center;

}

a {
    text-decoration: none;
    margin-right: 1em;
    padding: 1rem;
    color: var(--text);
    justify-content: end;

}

img {
    height: 4rem;
    width: auto;
    justify-content: left;
}